.posts-grid {
  max-width: 1800px;
}
.posts-grid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.posts-grid.top .grid-block:nth-of-type(even)::after,
.posts-grid.bottom .grid-block:nth-of-type(even)::after {
  content: '';
  display: block;
  margin-bottom: 2rem;
}
.posts-grid .circle img {
  border-radius: 100%;
}
.posts-grid .wide img {
  width: 100%;
}
.posts-grid .grid-block a:hover h1,
.posts-grid .grid-block a:hover h2,
.posts-grid .grid-block a:hover h3,
.posts-grid .grid-block a:hover h4,
.posts-grid .grid-block a:hover p {
  text-decoration: underline;
}
.posts-grid .grid-block.share-counts-enabled .grid-block-content {
  padding-top: 1.5rem;
}
.posts-grid .grid-block.overlay-enabled .bottom .grid-block-content {
  position: relative;
}
.posts-grid .grid-block.overlay-enabled .grid-block-picture {
  z-index: 0;
}
.posts-grid .grid-block.overlay-enabled img {
  width: 100%;
}
.posts-grid img {
  height: auto;
  max-width: 100%;
  width: 100%;
}
.posts-grid :before,
.posts-grid :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.posts-grid.alternately .grid-block-inner {
  padding-left: 15px;
}
.posts-grid.alternately .grid-block:nth-child(odd) .grid-block-content,
.posts-grid.alternately .grid-block:nth-child(odd) .grid-block-picture {
  float: left;
  width: 50%;
}
.posts-grid.alternately .grid-block:nth-child(odd) .grid-block-picture img {
  float: right;
}
.posts-grid.alternately .grid-block:nth-child(odd) .grid-block-content {
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: .75rem 0 0 1rem;
  position: absolute;
  right: 0;
  top: 0;
}
.posts-grid.alternately .grid-block:nth-child(even) .grid-block-content {
  bottom: 0;
  left: 0;
  margin: 0 0 0 15px;
  padding: .75rem 1rem 0 .75rem;
  position: absolute;
  right: 50%;
  top: 0;
}
.posts-grid.alternately .grid-block:nth-child(even) .grid-block-content,
.posts-grid.alternately .grid-block:nth-child(even) .grid-block-picture {
  width: 50%;
}
.posts-grid.alternately .grid-block:nth-child(even) .grid-block-picture {
  float: right;
}
.posts-grid .grid-block {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  padding: 0;
}
.posts-grid .grid-block h1.grid-block-title {
  font-size: 2rem;
}
.posts-grid .grid-block h2.grid-block-title,
.posts-grid .grid-block h3.grid-block-title,
.posts-grid .grid-block h4.grid-block-title {
  font-size: 1.3rem;
}
.posts-grid .grid-block .grid-block-title {
  margin-top: 0;
}
.posts-grid .grid-block .grid-block-content {
  background: #000;
  padding: .5rem;
}
.posts-grid .grid-block .grid-block-content p {
  font-size: 1.2rem;
}
.posts-grid .grid-block .grid-block-date i:last-of-type {
  margin-left: 1rem;
}
.posts-grid .grid-block .left .grid-block-content,
.posts-grid .grid-block .left .grid-block-picture {
  float: left;
  width: 50%;
}
.posts-grid .grid-block .left .grid-block-picture img {
  float: right;
}
.posts-grid .grid-block .left .grid-block-content {
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: .75rem;
  position: absolute;
  right: 0;
  top: 0;
}
.posts-grid .grid-block .right .grid-block-picture {
  float: right;
}
.posts-grid .grid-block .right .grid-block-content,
.posts-grid .grid-block .right .grid-block-picture {
  width: 50%;
}
.posts-grid .grid-block .right .grid-block-content {
  bottom: 0;
  left: 0;
  margin: 0 0 0 15px;
  padding: .75rem 1rem 0 .75rem;
  position: absolute;
  right: 50%;
  top: 0;
}
.posts-grid .grid-block-inner {
  overflow: hidden;
  margin: 15px 0 0;
  padding-bottom: 0;
  position: relative;
}
.posts-grid .grid-block-inner .grid-block-share {
  background-color: rgba(0, 0, 0, 0.4);
  display: inline;
  font-weight: 100;
  height: 18px;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 1em;
  position: absolute;
  right: 15px;
  text-transform: uppercase;
  top: 0;
  width: 100px;
}
.posts-grid .grid-block-inner .grid-block-share-tw,
.posts-grid .grid-block-inner .grid-block-share-fb,
.posts-grid .grid-block-inner .grid-block-share-fb-comments {
  display: inline-block;
  padding: 2px 2px 0 0;
  text-align: right;
  color: #FFFFFF;
  width: 30px;
}
.posts-grid .grid-block-inner .grid-block-share-tw {
  background: url('../img/twitter-icon.png') no-repeat 3px 5px;
}
.posts-grid .grid-block-inner .grid-block-share-fb {
  background: url('../img/fb-icon.png') no-repeat 5px 4px;
}
.posts-grid .grid-block-inner .grid-block-share-fb-comments {
  background: url('../img/comment-icon.png') no-repeat 2px 4px;
}
.posts-grid .grid-block-picture {
  position: relative;
  z-index: 2;
}
.posts-grid .grid-block-content {
  margin-bottom: 0;
  overflow-wrap: break-word;
  padding: 1em;
  width: 100%;
}
.posts-grid .grid-block-text {
  z-index: 100;
  position: relative;
  box-sizing: border-box;
}
.posts-grid .has-post-thumbnail .grid-block-excerpt {
  display: none;
}
.posts-grid .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.posts-grid .container:before,
.posts-grid .container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.posts-grid .container:after {
  clear: both;
}
.posts-grid .container:before,
.posts-grid .container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.posts-grid .container:after {
  clear: both;
}
.posts-grid .row {
  margin-left: -15px;
  margin-right: -15px;
}
.posts-grid .row:before,
.posts-grid .row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.posts-grid .row:after {
  clear: both;
}
.posts-grid .row:before,
.posts-grid .row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.posts-grid .row:after {
  clear: both;
}
.posts-grid .col-xs-1,
.posts-grid .col-xs-2,
.posts-grid .col-xs-3,
.posts-grid .col-xs-4,
.posts-grid .col-xs-5,
.posts-grid .col-xs-6,
.posts-grid .col-xs-7,
.posts-grid .col-xs-8,
.posts-grid .col-xs-9,
.posts-grid .col-xs-10,
.posts-grid .col-xs-11,
.posts-grid .col-xs-12,
.posts-grid .col-sm-1,
.posts-grid .col-sm-2,
.posts-grid .col-sm-3,
.posts-grid .col-sm-4,
.posts-grid .col-sm-5,
.posts-grid .col-sm-6,
.posts-grid .col-sm-7,
.posts-grid .col-sm-8,
.posts-grid .col-sm-9,
.posts-grid .col-sm-10,
.posts-grid .col-sm-11,
.posts-grid .col-sm-12,
.posts-grid .col-md-1,
.posts-grid .col-md-2,
.posts-grid .col-md-3,
.posts-grid .col-md-4,
.posts-grid .col-md-5,
.posts-grid .col-md-6,
.posts-grid .col-md-7,
.posts-grid .col-md-8,
.posts-grid .col-md-9,
.posts-grid .col-md-10,
.posts-grid .col-md-11,
.posts-grid .col-md-12,
.posts-grid .col-lg-1,
.posts-grid .col-lg-2,
.posts-grid .col-lg-3,
.posts-grid .col-lg-4,
.posts-grid .col-lg-5,
.posts-grid .col-lg-6,
.posts-grid .col-lg-7,
.posts-grid .col-lg-8,
.posts-grid .col-lg-9,
.posts-grid .col-lg-10,
.posts-grid .col-lg-11,
.posts-grid .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.posts-grid .col-xs-1,
.posts-grid .col-xs-2,
.posts-grid .col-xs-3,
.posts-grid .col-xs-4,
.posts-grid .col-xs-5,
.posts-grid .col-xs-6,
.posts-grid .col-xs-7,
.posts-grid .col-xs-8,
.posts-grid .col-xs-9,
.posts-grid .col-xs-10,
.posts-grid .col-xs-11 {
  float: left;
}
.posts-grid .col-xs-1 {
  width: 8.333333333333332%;
}
.posts-grid .col-xs-2 {
  width: 16.666666666666664%;
}
.posts-grid .col-xs-3 {
  width: 25%;
}
.posts-grid .col-xs-4 {
  width: 33.33333333333333%;
}
.posts-grid .col-xs-5 {
  width: 41.66666666666667%;
}
.posts-grid .col-xs-6 {
  width: 50%;
}
.posts-grid .col-xs-7 {
  width: 58.333333333333336%;
}
.posts-grid .col-xs-8 {
  width: 66.66666666666666%;
}
.posts-grid .col-xs-9 {
  width: 75%;
}
.posts-grid .col-xs-10 {
  width: 83.33333333333334%;
}
.posts-grid .col-xs-11 {
  width: 91.66666666666666%;
}
.posts-grid .col-xs-12 {
  width: 100%;
}
@media (max-width: 479px) {
  .posts-grid .col-xxs {
    width: 100%;
  }
  .posts-grid .hidden-xxs {
    display: none;
  }
}
@media screen and (min-width: 479px) {
  .posts-grid .visible-xxs {
    display: none;
  }
  .posts-grid .grid-block:nth-of-type(even)::after {
    margin-bottom: 0;
  }
  .posts-grid .grid-block.overlay-enabled .grid-block-inner {
    position: relative;
  }
  .posts-grid .grid-block.overlay-enabled .grid-block-picture {
    width: 100%;
  }
  .posts-grid .grid-block.overlay-enabled.has-post-thumbnail .grid-block-content {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 0;
    padding: 8px 10px;
    position: absolute;
  }
  .posts-grid .grid-block.overlay-enabled .grid-block-inner.top .grid-block-content {
    bottom: 0;
  }
  .posts-grid .grid-block.overlay-enabled .grid-block-inner.bottom .grid-block-content {
    top: 0;
  }
  .posts-grid .grid-block.overlay-enabled.shortcut .grid-block-inner.bottom .grid-block-content {
    margin-bottom: 2em;
  }
  .posts-grid .grid-block.overlay-enabled .grid-block-inner.left,
  .posts-grid .grid-block.overlay-enabled .grid-block-inner.right {
    padding-bottom: 0;
  }
  .posts-grid .grid-block.overlay-enabled .grid-block-inner.right .grid-block-content {
    right: 0;
  }
  .posts-grid .grid-block.overlay-enabled .grid-block-inner.left .grid-block-content {
    left: 0;
  }
  .posts-grid .grid-block .grid-block-content p {
    font-size: 1.5rem;
  }
  .posts-grid.alternately .grid-block .grid-block-title,
  .posts-grid.left .grid-block .grid-block-title,
  .posts-grid.right .grid-block .grid-block-title {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .posts-grid .grid-block.overlay-enabled.wide h1.grid-block-title {
    font-size: 1.75rem;
  }
  .posts-grid .grid-block.overlay-enabled.wide h2.grid-block-title {
    font-size: 1.25rem;
  }
  .posts-grid .grid-block.overlay-enabled.wide h3.grid-block-title,
  .posts-grid .grid-block.overlay-enabled.wide h4.grid-block-title {
    font-size: 1rem;
  }
  .posts-grid.alternately .grid-block .grid-block-content p,
  .posts-grid.left .grid-block .grid-block-content p,
  .posts-grid.right .grid-block .grid-block-content p,
  .posts-grid .grid-block .grid-block-content p {
    font-size: 1.25rem;
  }
  .posts-grid.alternately .grid-block h1.grid-block-title,
  .posts-grid.left .grid-block h1.grid-block-title,
  .posts-grid.right .grid-block h1.grid-block-title,
  .posts-grid .grid-block h1.grid-block-title {
    font-size: 2.5rem;
  }
  .posts-grid.alternately .grid-block h2.grid-block-title,
  .posts-grid.left .grid-block h2.grid-block-title,
  .posts-grid.right .grid-block h2.grid-block-title,
  .posts-grid .grid-block h2.grid-block-title,
  .posts-grid.alternately .grid-block h3.grid-block-title,
  .posts-grid.left .grid-block h3.grid-block-title,
  .posts-grid.right .grid-block h3.grid-block-title,
  .posts-grid .grid-block h3.grid-block-title {
    font-size: 1.5rem;
  }
  .posts-grid.alternately .grid-block h4.grid-block-title,
  .posts-grid.left .grid-block h4.grid-block-title,
  .posts-grid.right .grid-block h4.grid-block-title,
  .posts-grid .grid-block h4.grid-block-title {
    font-size: 1.25rem;
  }
  .posts-grid.alternately .grid-block:nth-child(odd) .grid-block-content,
  .posts-grid.alternately .grid-block:nth-child(odd) .grid-block-picture {
    float: left;
    width: 50%;
  }
  .posts-grid.alternately .grid-block:nth-child(even) .grid-block-content {
    float: left;
  }
  .posts-grid.alternately .grid-block:nth-child(even) .grid-block-content,
  .posts-grid.alternately .grid-block:nth-child(even) .grid-block-picture {
    width: 50%;
  }
  .posts-grid.alternately .grid-block:nth-child(even) .grid-block-picture {
    float: right;
  }
  .posts-grid .grid-block .left .grid-block-content,
  .posts-grid .grid-block .left .grid-block-picture {
    float: left;
    width: 50%;
  }
  .posts-grid .grid-block .right .grid-block-picture {
    float: right;
  }
  .posts-grid .grid-block .right .grid-block-content,
  .posts-grid .grid-block .right .grid-block-picture {
    width: 50%;
  }
  .posts-grid .container {
    max-width: 96%;
  }
  .posts-grid .col-sm-1,
  .posts-grid .col-sm-2,
  .posts-grid .col-sm-3,
  .posts-grid .col-sm-4,
  .posts-grid .col-sm-5,
  .posts-grid .col-sm-6,
  .posts-grid .col-sm-7,
  .posts-grid .col-sm-8,
  .posts-grid .col-sm-9,
  .posts-grid .col-sm-10,
  .posts-grid .col-sm-11 {
    float: left;
  }
  .posts-grid .col-sm-1 {
    width: 8.333333333333332%;
  }
  .posts-grid .col-sm-2 {
    width: 16.666666666666664%;
  }
  .posts-grid .col-sm-3 {
    width: 25%;
  }
  .posts-grid .col-sm-4 {
    width: 33.33333333333333%;
  }
  .posts-grid .col-sm-5 {
    width: 41.66666666666667%;
  }
  .posts-grid .col-sm-6 {
    width: 50%;
  }
  .posts-grid .col-sm-7 {
    width: 58.333333333333336%;
  }
  .posts-grid .col-sm-8 {
    width: 66.66666666666666%;
  }
  .posts-grid .col-sm-9 {
    width: 75%;
  }
  .posts-grid .col-sm-10 {
    width: 83.33333333333334%;
  }
  .posts-grid .col-sm-11 {
    width: 91.66666666666666%;
  }
  .posts-grid .col-sm-12 {
    width: 100%;
  }
  .posts-grid .col-sm-push-1 {
    left: 8.333333333333332%;
  }
  .posts-grid .col-sm-push-2 {
    left: 16.666666666666664%;
  }
  .posts-grid .col-sm-push-3 {
    left: 25%;
  }
  .posts-grid .col-sm-push-4 {
    left: 33.33333333333333%;
  }
  .posts-grid .col-sm-push-5 {
    left: 41.66666666666667%;
  }
  .posts-grid .col-sm-push-6 {
    left: 50%;
  }
  .posts-grid .col-sm-push-7 {
    left: 58.333333333333336%;
  }
  .posts-grid .col-sm-push-8 {
    left: 66.66666666666666%;
  }
  .posts-grid .col-sm-push-9 {
    left: 75%;
  }
  .posts-grid .col-sm-push-10 {
    left: 83.33333333333334%;
  }
  .posts-grid .col-sm-push-11 {
    left: 91.66666666666666%;
  }
  .posts-grid .col-sm-pull-1 {
    right: 8.333333333333332%;
  }
  .posts-grid .col-sm-pull-2 {
    right: 16.666666666666664%;
  }
  .posts-grid .col-sm-pull-3 {
    right: 25%;
  }
  .posts-grid .col-sm-pull-4 {
    right: 33.33333333333333%;
  }
  .posts-grid .col-sm-pull-5 {
    right: 41.66666666666667%;
  }
  .posts-grid .col-sm-pull-6 {
    right: 50%;
  }
  .posts-grid .col-sm-pull-7 {
    right: 58.333333333333336%;
  }
  .posts-grid .col-sm-pull-8 {
    right: 66.66666666666666%;
  }
  .posts-grid .col-sm-pull-9 {
    right: 75%;
  }
  .posts-grid .col-sm-pull-10 {
    right: 83.33333333333334%;
  }
  .posts-grid .col-sm-pull-11 {
    right: 91.66666666666666%;
  }
  .posts-grid .col-sm-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .posts-grid .col-sm-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .posts-grid .col-sm-offset-3 {
    margin-left: 25%;
  }
  .posts-grid .col-sm-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .posts-grid .col-sm-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .posts-grid .col-sm-offset-6 {
    margin-left: 50%;
  }
  .posts-grid .col-sm-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .posts-grid .col-sm-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .posts-grid .col-sm-offset-9 {
    margin-left: 75%;
  }
  .posts-grid .col-sm-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .posts-grid .col-sm-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
@media (min-width: 992px) {
  .posts-grid .container {
    max-width: 96%;
  }
  .posts-grid .grid-block h2.grid-block-title {
    font-size: 1.85rem;
  }
  .posts-grid .col-md-1,
  .posts-grid .col-md-2,
  .posts-grid .col-md-3,
  .posts-grid .col-md-4,
  .posts-grid .col-md-5,
  .posts-grid .col-md-6,
  .posts-grid .col-md-7,
  .posts-grid .col-md-8,
  .posts-grid .col-md-9,
  .posts-grid .col-md-10,
  .posts-grid .col-md-11 {
    float: left;
  }
  .posts-grid .col-md-1 {
    width: 8.333333333333332%;
  }
  .posts-grid .col-md-2 {
    width: 16.666666666666664%;
  }
  .posts-grid .col-md-3 {
    width: 25%;
  }
  .posts-grid .col-md-4 {
    width: 33.33333333333333%;
  }
  .posts-grid .col-md-5 {
    width: 41.66666666666667%;
  }
  .posts-grid .col-md-6 {
    width: 50%;
  }
  .posts-grid .col-md-7 {
    width: 58.333333333333336%;
  }
  .posts-grid .col-md-8 {
    width: 66.66666666666666%;
  }
  .posts-grid .col-md-9 {
    width: 75%;
  }
  .posts-grid .col-md-10 {
    width: 83.33333333333334%;
  }
  .posts-grid .col-md-11 {
    width: 91.66666666666666%;
  }
  .posts-grid .col-md-12 {
    width: 100%;
  }
  .posts-grid .col-md-push-0 {
    left: auto;
  }
  .posts-grid .col-md-push-1 {
    left: 8.333333333333332%;
  }
  .posts-grid .col-md-push-2 {
    left: 16.666666666666664%;
  }
  .posts-grid .col-md-push-3 {
    left: 25%;
  }
  .posts-grid .col-md-push-4 {
    left: 33.33333333333333%;
  }
  .posts-grid .col-md-push-5 {
    left: 41.66666666666667%;
  }
  .posts-grid .col-md-push-6 {
    left: 50%;
  }
  .posts-grid .col-md-push-7 {
    left: 58.333333333333336%;
  }
  .posts-grid .col-md-push-8 {
    left: 66.66666666666666%;
  }
  .posts-grid .col-md-push-9 {
    left: 75%;
  }
  .posts-grid .col-md-push-10 {
    left: 83.33333333333334%;
  }
  .posts-grid .col-md-push-11 {
    left: 91.66666666666666%;
  }
  .posts-grid .col-md-pull-0 {
    right: auto;
  }
  .posts-grid .col-md-pull-1 {
    right: 8.333333333333332%;
  }
  .posts-grid .col-md-pull-2 {
    right: 16.666666666666664%;
  }
  .posts-grid .col-md-pull-3 {
    right: 25%;
  }
  .posts-grid .col-md-pull-4 {
    right: 33.33333333333333%;
  }
  .posts-grid .col-md-pull-5 {
    right: 41.66666666666667%;
  }
  .posts-grid .col-md-pull-6 {
    right: 50%;
  }
  .posts-grid .col-md-pull-7 {
    right: 58.333333333333336%;
  }
  .posts-grid .col-md-pull-8 {
    right: 66.66666666666666%;
  }
  .posts-grid .col-md-pull-9 {
    right: 75%;
  }
  .posts-grid .col-md-pull-10 {
    right: 83.33333333333334%;
  }
  .posts-grid .col-md-pull-11 {
    right: 91.66666666666666%;
  }
  .posts-grid .col-md-offset-0 {
    margin-left: 0;
  }
  .posts-grid .col-md-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .posts-grid .col-md-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .posts-grid .col-md-offset-3 {
    margin-left: 25%;
  }
  .posts-grid .col-md-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .posts-grid .col-md-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .posts-grid .col-md-offset-6 {
    margin-left: 50%;
  }
  .posts-grid .col-md-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .posts-grid .col-md-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .posts-grid .col-md-offset-9 {
    margin-left: 75%;
  }
  .posts-grid .col-md-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .posts-grid .col-md-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
@media (min-width: 1200px) {
  .posts-grid .container {
    max-width: 1300px;
  }
  .posts-grid .grid-block.overlay-enabled h1.grid-block-title,
  .posts-grid .grid-block.overlay-enabled.wide h1.grid-block-title {
    font-size: 2.5rem;
  }
  .posts-grid .grid-block.overlay-enabled h2.grid-block-title,
  .posts-grid .grid-block.overlay-enabled.wide h2.grid-block-title {
    font-size: 2rem;
  }
  .posts-grid .grid-block h1.grid-block-title {
    font-size: 3.5rem;
  }
  .posts-grid .grid-block h2.grid-block-title {
    font-size: 2.5rem;
  }
  .posts-grid .grid-block h3.grid-block-title {
    font-size: 1.25rem;
  }
  .posts-grid.alternately .grid-block h3.grid-block-title,
  .posts-grid.left .grid-block h3.grid-block-title,
  .posts-grid.right .grid-block h3.grid-block-title,
  .posts-grid .grid-block h3.grid-block-title,
  .posts-grid.alternately .grid-block h4.grid-block-title,
  .posts-grid.left .grid-block h4.grid-block-title,
  .posts-grid.right .grid-block h4.grid-block-title,
  .posts-grid .grid-block h4.grid-block-title {
    font-size: 1.75rem;
  }
  .posts-grid .col-lg-1,
  .posts-grid .col-lg-2,
  .posts-grid .col-lg-3,
  .posts-grid .col-lg-4,
  .posts-grid .col-lg-5,
  .posts-grid .col-lg-6,
  .posts-grid .col-lg-7,
  .posts-grid .col-lg-8,
  .posts-grid .col-lg-9,
  .posts-grid .col-lg-10,
  .posts-grid .col-lg-11 {
    float: left;
  }
  .posts-grid .col-lg-1 {
    width: 8.333333333333332%;
  }
  .posts-grid .col-lg-2 {
    width: 16.666666666666664%;
  }
  .posts-grid .col-lg-3 {
    width: 25%;
  }
  .posts-grid .col-lg-4 {
    width: 33.33333333333333%;
  }
  .posts-grid .col-lg-5 {
    width: 41.66666666666667%;
  }
  .posts-grid .col-lg-6 {
    width: 50%;
  }
  .posts-grid .col-lg-7 {
    width: 58.333333333333336%;
  }
  .posts-grid .col-lg-8 {
    width: 66.66666666666666%;
  }
  .posts-grid .col-lg-9 {
    width: 75%;
  }
  .posts-grid .col-lg-10 {
    width: 83.33333333333334%;
  }
  .posts-grid .col-lg-11 {
    width: 91.66666666666666%;
  }
  .posts-grid .col-lg-12 {
    width: 100%;
  }
  .posts-grid .col-lg-push-0 {
    left: auto;
  }
  .posts-grid .col-lg-push-1 {
    left: 8.333333333333332%;
  }
  .posts-grid .col-lg-push-2 {
    left: 16.666666666666664%;
  }
  .posts-grid .col-lg-push-3 {
    left: 25%;
  }
  .posts-grid .col-lg-push-4 {
    left: 33.33333333333333%;
  }
  .posts-grid .col-lg-push-5 {
    left: 41.66666666666667%;
  }
  .posts-grid .col-lg-push-6 {
    left: 50%;
  }
  .posts-grid .col-lg-push-7 {
    left: 58.333333333333336%;
  }
  .posts-grid .col-lg-push-8 {
    left: 66.66666666666666%;
  }
  .posts-grid .col-lg-push-9 {
    left: 75%;
  }
  .posts-grid .col-lg-push-10 {
    left: 83.33333333333334%;
  }
  .posts-grid .col-lg-push-11 {
    left: 91.66666666666666%;
  }
  .posts-grid .col-lg-pull-0 {
    right: auto;
  }
  .posts-grid .col-lg-pull-1 {
    right: 8.333333333333332%;
  }
  .posts-grid .col-lg-pull-2 {
    right: 16.666666666666664%;
  }
  .posts-grid .col-lg-pull-3 {
    right: 25%;
  }
  .posts-grid .col-lg-pull-4 {
    right: 33.33333333333333%;
  }
  .posts-grid .col-lg-pull-5 {
    right: 41.66666666666667%;
  }
  .posts-grid .col-lg-pull-6 {
    right: 50%;
  }
  .posts-grid .col-lg-pull-7 {
    right: 58.333333333333336%;
  }
  .posts-grid .col-lg-pull-8 {
    right: 66.66666666666666%;
  }
  .posts-grid .col-lg-pull-9 {
    right: 75%;
  }
  .posts-grid .col-lg-pull-10 {
    right: 83.33333333333334%;
  }
  .posts-grid .col-lg-pull-11 {
    right: 91.66666666666666%;
  }
  .posts-grid .col-lg-offset-0 {
    margin-left: 0;
  }
  .posts-grid .col-lg-offset-1 {
    margin-left: 8.333333333333332%;
  }
  .posts-grid .col-lg-offset-2 {
    margin-left: 16.666666666666664%;
  }
  .posts-grid .col-lg-offset-3 {
    margin-left: 25%;
  }
  .posts-grid .col-lg-offset-4 {
    margin-left: 33.33333333333333%;
  }
  .posts-grid .col-lg-offset-5 {
    margin-left: 41.66666666666667%;
  }
  .posts-grid .col-lg-offset-6 {
    margin-left: 50%;
  }
  .posts-grid .col-lg-offset-7 {
    margin-left: 58.333333333333336%;
  }
  .posts-grid .col-lg-offset-8 {
    margin-left: 66.66666666666666%;
  }
  .posts-grid .col-lg-offset-9 {
    margin-left: 75%;
  }
  .posts-grid .col-lg-offset-10 {
    margin-left: 83.33333333333334%;
  }
  .posts-grid .col-lg-offset-11 {
    margin-left: 91.66666666666666%;
  }
}
.posts-grid .hidden {
  display: none !important;
  visibility: hidden !important;
}
.posts-grid .visible-xs {
  display: none !important;
}
.posts-grid tr.visible-xs {
  display: none !important;
}
.posts-grid th.visible-xs,
.posts-grid td.visible-xs {
  display: none !important;
}
@media (max-width: 767px) {
  .posts-grid.alternately .grid-block,
  .posts-grid.left .grid-block,
  .posts-grid.right .grid-block {
    width: 100%;
    float: right;
  }
  .posts-grid .visible-xs {
    display: block !important;
  }
  .posts-grid tr.visible-xs {
    display: table-row !important;
  }
  .posts-grid th.visible-xs,
  .posts-grid td.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .visible-xs.visible-sm {
    display: block !important;
  }
  .posts-grid tr.visible-xs.visible-sm {
    display: table-row !important;
  }
  .posts-grid th.visible-xs.visible-sm,
  .posts-grid td.visible-xs.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .posts-grid .visible-xs.visible-md {
    display: block !important;
  }
  .posts-grid tr.visible-xs.visible-md {
    display: table-row !important;
  }
  .posts-grid th.visible-xs.visible-md,
  .posts-grid td.visible-xs.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .posts-grid .visible-xs.visible-lg {
    display: block !important;
  }
  .posts-grid tr.visible-xs.visible-lg {
    display: table-row !important;
  }
  .posts-grid th.visible-xs.visible-lg,
  .posts-grid td.visible-xs.visible-lg {
    display: table-cell !important;
  }
}
.posts-grid .visible-sm {
  display: none !important;
}
.posts-grid tr.visible-sm {
  display: none !important;
}
.posts-grid th.visible-sm,
.posts-grid td.visible-sm {
  display: none !important;
}
@media (max-width: 767px) {
  .posts-grid .visible-sm.visible-xs {
    display: block !important;
  }
  .posts-grid tr.visible-sm.visible-xs {
    display: table-row !important;
  }
  .posts-grid th.visible-sm.visible-xs,
  .posts-grid td.visible-sm.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .visible-sm {
    display: block !important;
  }
  .posts-grid tr.visible-sm {
    display: table-row !important;
  }
  .posts-grid th.visible-sm,
  .posts-grid td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .posts-grid .visible-sm.visible-md {
    display: block !important;
  }
  .posts-grid tr.visible-sm.visible-md {
    display: table-row !important;
  }
  .posts-grid th.visible-sm.visible-md,
  .posts-grid td.visible-sm.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .posts-grid .visible-sm.visible-lg {
    display: block !important;
  }
  .posts-grid tr.visible-sm.visible-lg {
    display: table-row !important;
  }
  .posts-grid th.visible-sm.visible-lg,
  .posts-grid td.visible-sm.visible-lg {
    display: table-cell !important;
  }
}
.posts-grid .visible-md {
  display: none !important;
}
.posts-grid tr.visible-md {
  display: none !important;
}
.posts-grid th.visible-md,
.posts-grid td.visible-md {
  display: none !important;
}
@media (max-width: 767px) {
  .posts-grid .visible-md.visible-xs {
    display: block !important;
  }
  .posts-grid tr.visible-md.visible-xs {
    display: table-row !important;
  }
  .posts-grid th.visible-md.visible-xs,
  .posts-grid td.visible-md.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .visible-md.visible-sm {
    display: block !important;
  }
  .posts-grid tr.visible-md.visible-sm {
    display: table-row !important;
  }
  .posts-grid th.visible-md.visible-sm,
  .posts-grid td.visible-md.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .posts-grid .visible-md {
    display: block !important;
  }
  .posts-grid tr.visible-md {
    display: table-row !important;
  }
  .posts-grid th.visible-md,
  .posts-grid td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .posts-grid .visible-md.visible-lg {
    display: block !important;
  }
  .posts-grid tr.visible-md.visible-lg {
    display: table-row !important;
  }
  .posts-grid th.visible-md.visible-lg,
  .posts-grid td.visible-md.visible-lg {
    display: table-cell !important;
  }
}
.posts-grid .visible-lg {
  display: none !important;
}
.posts-grid tr.visible-lg {
  display: none !important;
}
.posts-grid th.visible-lg,
.posts-grid td.visible-lg {
  display: none !important;
}
@media (max-width: 767px) {
  .posts-grid .visible-lg.visible-xs {
    display: block !important;
  }
  .posts-grid tr.visible-lg.visible-xs {
    display: table-row !important;
  }
  .posts-grid th.visible-lg.visible-xs,
  .posts-grid td.visible-lg.visible-xs {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .visible-lg.visible-sm {
    display: block !important;
  }
  .posts-grid tr.visible-lg.visible-sm {
    display: table-row !important;
  }
  .posts-grid th.visible-lg.visible-sm,
  .posts-grid td.visible-lg.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .posts-grid .visible-lg.visible-md {
    display: block !important;
  }
  .posts-grid tr.visible-lg.visible-md {
    display: table-row !important;
  }
  .posts-grid th.visible-lg.visible-md,
  .posts-grid td.visible-lg.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .posts-grid .visible-lg {
    display: block !important;
  }
  .posts-grid tr.visible-lg {
    display: table-row !important;
  }
  .posts-grid th.visible-lg,
  .posts-grid td.visible-lg {
    display: table-cell !important;
  }
}
.posts-grid .hidden-xs {
  display: block !important;
}
.posts-grid tr.hidden-xs {
  display: table-row !important;
}
.posts-grid th.hidden-xs,
.posts-grid td.hidden-xs {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .posts-grid .hidden-xs {
    display: none !important;
  }
  .posts-grid tr.hidden-xs {
    display: none !important;
  }
  .posts-grid th.hidden-xs,
  .posts-grid td.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .hidden-xs.hidden-sm {
    display: none !important;
  }
  .posts-grid tr.hidden-xs.hidden-sm {
    display: none !important;
  }
  .posts-grid th.hidden-xs.hidden-sm,
  .posts-grid td.hidden-xs.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .posts-grid .hidden-xs.hidden-md {
    display: none !important;
  }
  .posts-grid tr.hidden-xs.hidden-md {
    display: none !important;
  }
  .posts-grid th.hidden-xs.hidden-md,
  .posts-grid td.hidden-xs.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .posts-grid .hidden-xs.hidden-lg {
    display: none !important;
  }
  .posts-grid tr.hidden-xs.hidden-lg {
    display: none !important;
  }
  .posts-grid th.hidden-xs.hidden-lg,
  .posts-grid td.hidden-xs.hidden-lg {
    display: none !important;
  }
}
@media (max-width: 514px) {
  .posts-grid .hidden-xs-inline {
    display: none;
  }
}
.posts-grid .grid-block.overlay-enabled .grid-block-byline {
  line-height: 1em;
  margin: 0 0 5px;
}
.posts-grid .grid-block.overlay-enabled .grid-block-inner {
  overflow: hidden;
}
.posts-grid .grid-block.overlay-enabled .grid-block-content {
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .hidden-xs-inline.hidden-sm {
    display: inline-block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .posts-grid .hidden-xs-inline.hidden-md {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .posts-grid .hidden-xs-inline.hidden-lg {
    display: inline-block;
  }
}
.posts-grid .hidden-sm {
  display: block !important;
}
.posts-grid tr.hidden-sm {
  display: table-row !important;
}
.posts-grid th.hidden-sm,
.posts-grid td.hidden-sm {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .posts-grid .hidden-sm.hidden-xs {
    display: none !important;
  }
  .posts-grid tr.hidden-sm.hidden-xs {
    display: none !important;
  }
  .posts-grid th.hidden-sm.hidden-xs,
  .posts-grid td.hidden-sm.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .hidden-sm {
    display: none !important;
  }
  .posts-grid tr.hidden-sm {
    display: none !important;
  }
  .posts-grid th.hidden-sm,
  .posts-grid td.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .posts-grid .hidden-sm.hidden-md {
    display: none !important;
  }
  .posts-grid tr.hidden-sm.hidden-md {
    display: none !important;
  }
  .posts-grid th.hidden-sm.hidden-md,
  .posts-grid td.hidden-sm.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .posts-grid .hidden-sm.hidden-lg {
    display: none !important;
  }
  .posts-grid tr.hidden-sm.hidden-lg {
    display: none !important;
  }
  .posts-grid th.hidden-sm.hidden-lg,
  .posts-grid td.hidden-sm.hidden-lg {
    display: none !important;
  }
}
.posts-grid .hidden-md {
  display: block !important;
}
.posts-grid tr.hidden-md {
  display: table-row !important;
}
.posts-grid th.hidden-md,
.posts-grid td.hidden-md {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .posts-grid .grid-block .left .grid-block-picture img,
  .posts-grid .grid-block .right .grid-block-picture img,
  .posts-grid .grid-block .alternately .grid-block-picture img {
    width: 100%;
  }
  .posts-grid .hidden-md.hidden-xs {
    display: none !important;
  }
  .posts-grid tr.hidden-md.hidden-xs {
    display: none !important;
  }
  .posts-grid th.hidden-md.hidden-xs,
  .posts-grid td.hidden-md.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .hidden-md.hidden-sm {
    display: none !important;
  }
  .posts-grid tr.hidden-md.hidden-sm {
    display: none !important;
  }
  .posts-grid th.hidden-md.hidden-sm,
  .posts-grid td.hidden-md.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .posts-grid .hidden-md {
    display: none !important;
  }
  .posts-grid tr.hidden-md {
    display: none !important;
  }
  .posts-grid th.hidden-md,
  .posts-grid td.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .posts-grid .hidden-md.hidden-lg {
    display: none !important;
  }
  .posts-grid tr.hidden-md.hidden-lg {
    display: none !important;
  }
  .posts-grid th.hidden-md.hidden-lg,
  .posts-grid td.hidden-md.hidden-lg {
    display: none !important;
  }
}
.posts-grid .hidden-lg {
  display: block !important;
}
.posts-grid tr.hidden-lg {
  display: table-row !important;
}
.posts-grid th.hidden-lg,
.posts-grid td.hidden-lg {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .posts-grid .hidden-lg.hidden-xs {
    display: none !important;
  }
  .posts-grid tr.hidden-lg.hidden-xs {
    display: none !important;
  }
  .posts-grid th.hidden-lg.hidden-xs,
  .posts-grid td.hidden-lg.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .posts-grid .hidden-lg.hidden-sm {
    display: none !important;
  }
  .posts-grid tr.hidden-lg.hidden-sm {
    display: none !important;
  }
  .posts-grid th.hidden-lg.hidden-sm,
  .posts-grid td.hidden-lg.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .posts-grid .hidden-lg.hidden-md {
    display: none !important;
  }
  .posts-grid tr.hidden-lg.hidden-md {
    display: none !important;
  }
  .posts-grid th.hidden-lg.hidden-md,
  .posts-grid td.hidden-lg.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .posts-grid .hidden-lg {
    display: none !important;
  }
  .posts-grid tr.hidden-lg {
    display: none !important;
  }
  .posts-grid th.hidden-lg,
  .posts-grid td.hidden-lg {
    display: none !important;
  }
}
.embed-container {
  position: relative;
  padding-bottom: 66.67%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
