@screen-xxs: 320px;
@screen-xs: 479px;
@screen-sm: 768px;

.posts-grid {
  max-width: 1800px;
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &.top, &.bottom{
    .grid-block{
      &:nth-of-type(even)::after{
        content: '';
        display: block;
        margin-bottom: 2rem;
      }
    }
  }
  .circle img {
    border-radius: 100%;
  }
  .wide{
    img{
      width: 100%;
    }
  }

  .grid-block{
    a{
      &:hover{
        h1, h2, h3, h4, p{
          text-decoration: underline;
        }
      }

    }
    &.share-counts-enabled{
      .grid-block-content{
        padding-top: 1.5rem;
      }
    }
    &.overlay-enabled{
      .bottom {
        .grid-block-content{
          position: relative;
        }
      }
      .grid-block-picture{
        z-index: 0;
      }
      img{
        width: 100%;
      }
    }
  }
  img{
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  :before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &.alternately {
    .grid-block-inner{
      padding-left: 15px;
    }
    .grid-block:nth-child(odd){
      .grid-block-content, .grid-block-picture{
        float: left;
        width: 50%;
      }
      .grid-block-picture img{
        float: right;
      }
      .grid-block-content{
        bottom: 0;
        left: 50%;
        margin: 0;
        padding: .75rem 0 0 1rem;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .grid-block:nth-child(even){
      .grid-block-content{
        bottom: 0;
        left: 0;
        margin: 0 0 0 15px;
        padding: .75rem 1rem 0 .75rem;
        position: absolute;
        right: 50%;
        top: 0;
      }
      .grid-block-content, .grid-block-picture{
        width: 50%;
      }
      .grid-block-picture{
        float: right;
      }
    }
  }
  .grid-block {
    display:inline-block;
    margin-bottom: 10px;
    position:relative;
    padding: 0;
    h1.grid-block-title{
      font-size: 2rem;
    }
    h2.grid-block-title, h3.grid-block-title, h4.grid-block-title{
      font-size: 1.3rem;
    }
    .grid-block-title{
      margin-top: 0;
    }
    .grid-block-content{
      background: #000;
      padding: .5rem;
      p{
        font-size: 1.2rem;
      }
    }
    .grid-block-date{
      i:last-of-type{
        margin-left: 1rem;
      }
    }

    .left {
      .grid-block-content, .grid-block-picture{
        float: left;
        width: 50%;
      }
      .grid-block-picture img{
        float: right;
      }
      .grid-block-content{
        bottom: 0;
        left: 50%;
        margin: 0;
        padding: .75rem;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .right {
      .grid-block-picture {
        float: right;
      }
      .grid-block-content, .grid-block-picture {
        width: 50%;
      }
      .grid-block-content{
        bottom: 0;
        left: 0;
        margin: 0 0 0 15px;
        padding: .75rem 1rem 0 .75rem;
        position: absolute;
        right: 50%;
        top: 0;
      }
    }
  }


  .grid-block-inner {
    overflow: hidden;
    margin: 15px 0 0;
    padding-bottom: 0;
    position: relative;

    .grid-block-share {
      background-color: rgba(0, 0, 0, 0.4);
      display: inline;
      font-weight: 100;
      height: 18px;
      letter-spacing: 1px;
      font-size: 10px;
      line-height: 1em;
      position: absolute;
      right: 15px;
      text-transform: uppercase;
      top: 0;
      width: 100px;
    }
    .grid-block-share-tw, .grid-block-share-fb, .grid-block-share-fb-comments {
      display: inline-block;
      padding: 2px 2px 0 0;
      text-align: right;
      color: #FFFFFF;
      width: 30px;
    }
    .grid-block-share-tw {
      background: url( '../img/twitter-icon.png' ) no-repeat 3px 5px;
    }
    .grid-block-share-fb {
      background: url( '../img/fb-icon.png' ) no-repeat 5px 4px;
    }
    .grid-block-share-fb-comments {
      background: url( '../img/comment-icon.png' ) no-repeat 2px 4px;
    }
  }

  .grid-block-picture {
    position: relative;
    z-index: 2;
  }

  .grid-block-content {
    margin-bottom:0;
    overflow-wrap: break-word;
    padding: 1em;
    width:100%;
  }


  .grid-block-text{
    z-index: 100;
    position:relative;
    box-sizing:border-box;
  }

  .has-post-thumbnail {
    .grid-block-excerpt {
      display:none;
    }
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .container:before,
  .container:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .container:after {
    clear: both;
  }
  .container:before,
  .container:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .container:after {
    clear: both;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row:before,
  .row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .row:after {
    clear: both;
  }
  .row:before,
  .row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  .row:after {
    clear: both;
  }
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11 {
    float: left;
  }
  .col-xs-1 {
    width: ~"calc(8.333333333333332% - 20px)";
  }
  .col-xs-2 {
    width: ~"calc(16.666666666666664% - 20px)";
  }
  .col-xs-3 {
    width: ~"calc(25% - 20px)";
  }
  .col-xs-4 {
    width: ~"calc(33.33333333333333% - 20px)";
  }
  .col-xs-5 {
    width: ~"calc(41.66666666666667% - 20px)";
  }
  .col-xs-6 {
    width: ~"calc(50% - 20px)";
  }
  .col-xs-7 {
    width: ~"calc(58.333333333333336% - 20px)";
  }
  .col-xs-8 {
    width: ~"calc(66.66666666666666% - 20px)";
  }
  .col-xs-9 {
    width: ~"calc(75% - 20px)";
  }
  .col-xs-10 {
    width: ~"calc(83.33333333333334% - 20px)";
  }
  .col-xs-11 {
    width: ~"calc(91.66666666666666% - 20px)";
  }
  .col-xs-12 {
    width: 100%;
  }
  @media (max-width: 479px) {
    .col-xxs {
      width: 100%;
    }
    .hidden-xxs {
        display: none;
    }
  }

  @media screen and (min-width: @screen-xs) {

    .visible-xxs {
      display: none;
    }
    .grid-block{
      &:nth-of-type(even)::after{
        margin-bottom: 0;
      }
    }
    .grid-block.overlay-enabled .grid-block-inner {
        position: relative;
    }
    .grid-block.overlay-enabled .grid-block-picture {
      width: 100%;
    }
    .grid-block.overlay-enabled.has-post-thumbnail .grid-block-content {
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom: 0;
        padding: 8px 10px;
        position: absolute;
    }

    .grid-block.overlay-enabled .grid-block-inner.top .grid-block-content {
        bottom: 0;
    }
    .grid-block.overlay-enabled .grid-block-inner.bottom .grid-block-content {
        top: 0;
    }
    .grid-block.overlay-enabled.shortcut .grid-block-inner.bottom .grid-block-content{
      margin-bottom: 2em;
    }

    .grid-block.overlay-enabled .grid-block-inner.left,
    .grid-block.overlay-enabled .grid-block-inner.right {
      padding-bottom:0;
    }
    .grid-block.overlay-enabled .grid-block-inner.right .grid-block-content {
        right: 0;
    }
    .grid-block.overlay-enabled .grid-block-inner.left .grid-block-content {
        left: 0;
    }
    .grid-block .grid-block-content{
      p{
        font-size: 1.5rem;
      }
    }
    &.alternately .grid-block, &.left .grid-block, &.right .grid-block{
      .grid-block-title{
        font-size: 2rem;
      }
    }
  }

  @media (min-width: 768px) {
    .grid-block{
      &.overlay-enabled.wide{
        h1.grid-block-title {
          font-size: 1.75rem;
        }

        h2.grid-block-title{
          font-size: 1.25rem;
        }
        h3.grid-block-title, h4.grid-block-title{
          font-size: 1rem;
        }
      }
    }
    &.alternately .grid-block, &.left .grid-block, &.right .grid-block, .grid-block{
      .grid-block-content{
        p{
          font-size: 1.25rem;
        }
      }
      h1.grid-block-title {
        font-size: 2.5rem;
      }

      h2.grid-block-title, h3.grid-block-title{
        font-size: 1.5rem;
      }
      h4.grid-block-title{
        font-size: 1.25rem;
      }
    }
    &.alternately .grid-block:nth-child(odd){
      .grid-block-content, .grid-block-picture{
        float: left;
        width: 50%;
      }
    }
    &.alternately .grid-block:nth-child(even){
      .grid-block-content{
        float: left;
      }
      .grid-block-content, .grid-block-picture{
        width: 50%;
      }
      .grid-block-picture {
        float: right;
      }
    }
    .grid-block {
      .left {
        .grid-block-content, .grid-block-picture{
          float: left;
          width: 50%;
        }
      }
      .right {
        .grid-block-picture {
          float: right;
        }
        .grid-block-content, .grid-block-picture{
          width: 50%;
        }
      }
    }


    .container {
      max-width: 96%;
    }
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11 {
      float: left;
    }
    .col-sm-1 {
      width: ~"calc(8.333333333333332% - 20px)";
    }
    .col-sm-2 {
      width: ~"calc(16.666666666666664% - 20px)";
    }
    .col-sm-3 {
      width: ~"calc(25% - 20px)";
    }
    .col-sm-4 {
      width: ~"calc(33.33333333333333% - 20px)";
    }
    .col-sm-5 {
      width: ~"calc(41.66666666666667% - 20px)";
    }
    .col-sm-6 {
      width: ~"calc(50% - 20px)";
    }
    .col-sm-7 {
      width: ~"calc(58.333333333333336% - 20px)";
    }
    .col-sm-8 {
      width: ~"calc(66.66666666666666% - 20px)";
    }
    .col-sm-9 {
      width: ~"calc(75% - 20px)";
    }
    .col-sm-10 {
      width: ~"calc(83.33333333333334% - 20px)";
    }
    .col-sm-11 {
      width: ~"calc(91.66666666666666% - 20px)";
    }
    .col-sm-12 {
      width: 100%;
    }
    .col-sm-push-1 {
      left: 8.333333333333332%;
    }
    .col-sm-push-2 {
      left: 16.666666666666664%;
    }
    .col-sm-push-3 {
      left: 25%;
    }
    .col-sm-push-4 {
      left: 33.33333333333333%;
    }
    .col-sm-push-5 {
      left: 41.66666666666667%;
    }
    .col-sm-push-6 {
      left: 50%;
    }
    .col-sm-push-7 {
      left: 58.333333333333336%;
    }
    .col-sm-push-8 {
      left: 66.66666666666666%;
    }
    .col-sm-push-9 {
      left: 75%;
    }
    .col-sm-push-10 {
      left: 83.33333333333334%;
    }
    .col-sm-push-11 {
      left: 91.66666666666666%;
    }
    .col-sm-pull-1 {
      right: 8.333333333333332%;
    }
    .col-sm-pull-2 {
      right: 16.666666666666664%;
    }
    .col-sm-pull-3 {
      right: 25%;
    }
    .col-sm-pull-4 {
      right: 33.33333333333333%;
    }
    .col-sm-pull-5 {
      right: 41.66666666666667%;
    }
    .col-sm-pull-6 {
      right: 50%;
    }
    .col-sm-pull-7 {
      right: 58.333333333333336%;
    }
    .col-sm-pull-8 {
      right: 66.66666666666666%;
    }
    .col-sm-pull-9 {
      right: 75%;
    }
    .col-sm-pull-10 {
      right: 83.33333333333334%;
    }
    .col-sm-pull-11 {
      right: 91.66666666666666%;
    }
    .col-sm-offset-1 {
      margin-left: 8.333333333333332%;
    }
    .col-sm-offset-2 {
      margin-left: 16.666666666666664%;
    }
    .col-sm-offset-3 {
      margin-left: 25%;
    }
    .col-sm-offset-4 {
      margin-left: 33.33333333333333%;
    }
    .col-sm-offset-5 {
      margin-left: 41.66666666666667%;
    }
    .col-sm-offset-6 {
      margin-left: 50%;
    }
    .col-sm-offset-7 {
      margin-left: 58.333333333333336%;
    }
    .col-sm-offset-8 {
      margin-left: 66.66666666666666%;
    }
    .col-sm-offset-9 {
      margin-left: 75%;
    }
    .col-sm-offset-10 {
      margin-left: 83.33333333333334%;
    }
    .col-sm-offset-11 {
      margin-left: 91.66666666666666%;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 96%;
    }
    .grid-block{
      h2.grid-block-title{
        font-size: 1.85rem;
      }
    }
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11 {
      float: left;
    }
    .col-md-1 {
      width: ~"calc(8.333333333333332% - 20px)";
    }
    .col-md-2 {
      width: ~"calc(16.666666666666664% - 20px)";
    }
    .col-md-3 {
      width: ~"calc(25% - 20px)";
    }
    .col-md-4 {
      width: ~"calc(33.33333333333333% - 20px)";
    }
    .col-md-5 {
      width: ~"calc(41.66666666666667% - 20px)";
    }
    .col-md-6 {
      width: ~"calc(50% - 20px)";
    }
    .col-md-7 {
      width: ~"calc(58.333333333333336% - 20px)";
    }
    .col-md-8 {
      width: ~"calc(66.66666666666666% - 20px)";
    }
    .col-md-9 {
      width: ~"calc(75% - 20px)";
    }
    .col-md-10 {
      width: ~"calc(83.33333333333334% - 20px)";
    }
    .col-md-11 {
      width: ~"calc(91.66666666666666% - 20px)";
    }
    .col-md-12 {
      width: 100%;
    }
    .col-md-push-0 {
      left: auto;
    }
    .col-md-push-1 {
      left: 8.333333333333332%;
    }
    .col-md-push-2 {
      left: 16.666666666666664%;
    }
    .col-md-push-3 {
      left: 25%;
    }
    .col-md-push-4 {
      left: 33.33333333333333%;
    }
    .col-md-push-5 {
      left: 41.66666666666667%;
    }
    .col-md-push-6 {
      left: 50%;
    }
    .col-md-push-7 {
      left: 58.333333333333336%;
    }
    .col-md-push-8 {
      left: 66.66666666666666%;
    }
    .col-md-push-9 {
      left: 75%;
    }
    .col-md-push-10 {
      left: 83.33333333333334%;
    }
    .col-md-push-11 {
      left: 91.66666666666666%;
    }
    .col-md-pull-0 {
      right: auto;
    }
    .col-md-pull-1 {
      right: 8.333333333333332%;
    }
    .col-md-pull-2 {
      right: 16.666666666666664%;
    }
    .col-md-pull-3 {
      right: 25%;
    }
    .col-md-pull-4 {
      right: 33.33333333333333%;
    }
    .col-md-pull-5 {
      right: 41.66666666666667%;
    }
    .col-md-pull-6 {
      right: 50%;
    }
    .col-md-pull-7 {
      right: 58.333333333333336%;
    }
    .col-md-pull-8 {
      right: 66.66666666666666%;
    }
    .col-md-pull-9 {
      right: 75%;
    }
    .col-md-pull-10 {
      right: 83.33333333333334%;
    }
    .col-md-pull-11 {
      right: 91.66666666666666%;
    }
    .col-md-offset-0 {
      margin-left: 0;
    }
    .col-md-offset-1 {
      margin-left: 8.333333333333332%;
    }
    .col-md-offset-2 {
      margin-left: 16.666666666666664%;
    }
    .col-md-offset-3 {
      margin-left: 25%;
    }
    .col-md-offset-4 {
      margin-left: 33.33333333333333%;
    }
    .col-md-offset-5 {
      margin-left: 41.66666666666667%;
    }
    .col-md-offset-6 {
      margin-left: 50%;
    }
    .col-md-offset-7 {
      margin-left: 58.333333333333336%;
    }
    .col-md-offset-8 {
      margin-left: 66.66666666666666%;
    }
    .col-md-offset-9 {
      margin-left: 75%;
    }
    .col-md-offset-10 {
      margin-left: 83.33333333333334%;
    }
    .col-md-offset-11 {
      margin-left: 91.66666666666666%;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1300px;
    }
    .grid-block{
      &.overlay-enabled, &.overlay-enabled.wide{
        h1.grid-block-title {
          font-size: 2.5rem;
        }

        h2.grid-block-title{
          font-size: 2rem;
        }
      }
      h1.grid-block-title {
        font-size: 3.5rem;
      }
      h2.grid-block-title{
        font-size: 2.5rem;
      }
      h3.grid-block-title{
        font-size: 1.25rem;
      }
    }
    &.alternately .grid-block, &.left .grid-block, &.right .grid-block, .grid-block{
      h3.grid-block-title, h4.grid-block-title{
        font-size: 1.75rem;
      }
    }
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11 {
      float: left;
    }
    .col-lg-1 {
      width: ~"calc(8.333333333333332% - 20px)";
    }
    .col-lg-2 {
      width: ~"calc(16.666666666666664% - 20px)";
    }
    .col-lg-3 {
      width: ~"calc(25% - 20px)";
    }
    .col-lg-4 {
      width: ~"calc(33.33333333333333% - 20px)";
    }
    .col-lg-5 {
      width: ~"calc(41.66666666666667% - 20px)";
    }
    .col-lg-6 {
      width: ~"calc(50% - 20px)";
    }
    .col-lg-7 {
      width: ~"calc(58.333333333333336% - 20px)";
    }
    .col-lg-8 {
      width: ~"calc(66.66666666666666% - 20px)";
    }
    .col-lg-9 {
      width: ~"calc(75% - 20px)";
    }
    .col-lg-10 {
      width: ~"calc(83.33333333333334% - 20px)";
    }
    .col-lg-11 {
      width: ~"calc(91.66666666666666% - 20px)";
    }
    .col-lg-12 {
      width: 100%;
    }
    .col-lg-push-0 {
      left: auto;
    }
    .col-lg-push-1 {
      left: 8.333333333333332%;
    }
    .col-lg-push-2 {
      left: 16.666666666666664%;
    }
    .col-lg-push-3 {
      left: 25%;
    }
    .col-lg-push-4 {
      left: 33.33333333333333%;
    }
    .col-lg-push-5 {
      left: 41.66666666666667%;
    }
    .col-lg-push-6 {
      left: 50%;
    }
    .col-lg-push-7 {
      left: 58.333333333333336%;
    }
    .col-lg-push-8 {
      left: 66.66666666666666%;
    }
    .col-lg-push-9 {
      left: 75%;
    }
    .col-lg-push-10 {
      left: 83.33333333333334%;
    }
    .col-lg-push-11 {
      left: 91.66666666666666%;
    }
    .col-lg-pull-0 {
      right: auto;
    }
    .col-lg-pull-1 {
      right: 8.333333333333332%;
    }
    .col-lg-pull-2 {
      right: 16.666666666666664%;
    }
    .col-lg-pull-3 {
      right: 25%;
    }
    .col-lg-pull-4 {
      right: 33.33333333333333%;
    }
    .col-lg-pull-5 {
      right: 41.66666666666667%;
    }
    .col-lg-pull-6 {
      right: 50%;
    }
    .col-lg-pull-7 {
      right: 58.333333333333336%;
    }
    .col-lg-pull-8 {
      right: 66.66666666666666%;
    }
    .col-lg-pull-9 {
      right: 75%;
    }
    .col-lg-pull-10 {
      right: 83.33333333333334%;
    }
    .col-lg-pull-11 {
      right: 91.66666666666666%;
    }
    .col-lg-offset-0 {
      margin-left: 0;
    }
    .col-lg-offset-1 {
      margin-left: 8.333333333333332%;
    }
    .col-lg-offset-2 {
      margin-left: 16.666666666666664%;
    }
    .col-lg-offset-3 {
      margin-left: 25%;
    }
    .col-lg-offset-4 {
      margin-left: 33.33333333333333%;
    }
    .col-lg-offset-5 {
      margin-left: 41.66666666666667%;
    }
    .col-lg-offset-6 {
      margin-left: 50%;
    }
    .col-lg-offset-7 {
      margin-left: 58.333333333333336%;
    }
    .col-lg-offset-8 {
      margin-left: 66.66666666666666%;
    }
    .col-lg-offset-9 {
      margin-left: 75%;
    }
    .col-lg-offset-10 {
      margin-left: 83.33333333333334%;
    }
    .col-lg-offset-11 {
      margin-left: 91.66666666666666%;
    }
  }
  .hidden {
    display: none !important;
    visibility: hidden !important;
  }
  .visible-xs {
    display: none !important;
  }
  tr.visible-xs {
    display: none !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: none !important;
  }
  @media (max-width: 767px) {
    &.alternately .grid-block, &.left .grid-block, &.right .grid-block{
      width: 100%;
      float: right;
    }
    .visible-xs {
      display: block !important;
    }
    tr.visible-xs {
      display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
      display: table-cell !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-xs.visible-sm {
      display: block !important;
    }
    tr.visible-xs.visible-sm {
      display: table-row !important;
    }
    th.visible-xs.visible-sm,
    td.visible-xs.visible-sm {
      display: table-cell !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-xs.visible-md {
      display: block !important;
    }
    tr.visible-xs.visible-md {
      display: table-row !important;
    }
    th.visible-xs.visible-md,
    td.visible-xs.visible-md {
      display: table-cell !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-xs.visible-lg {
      display: block !important;
    }
    tr.visible-xs.visible-lg {
      display: table-row !important;
    }
    th.visible-xs.visible-lg,
    td.visible-xs.visible-lg {
      display: table-cell !important;
    }
  }
  .visible-sm {
    display: none !important;
  }
  tr.visible-sm {
    display: none !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: none !important;
  }
  @media (max-width: 767px) {
    .visible-sm.visible-xs {
      display: block !important;
    }
    tr.visible-sm.visible-xs {
      display: table-row !important;
    }
    th.visible-sm.visible-xs,
    td.visible-sm.visible-xs {
      display: table-cell !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
      display: block !important;
    }
    tr.visible-sm {
      display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
      display: table-cell !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-sm.visible-md {
      display: block !important;
    }
    tr.visible-sm.visible-md {
      display: table-row !important;
    }
    th.visible-sm.visible-md,
    td.visible-sm.visible-md {
      display: table-cell !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-sm.visible-lg {
      display: block !important;
    }
    tr.visible-sm.visible-lg {
      display: table-row !important;
    }
    th.visible-sm.visible-lg,
    td.visible-sm.visible-lg {
      display: table-cell !important;
    }
  }
  .visible-md {
    display: none !important;
  }
  tr.visible-md {
    display: none !important;
  }
  th.visible-md,
  td.visible-md {
    display: none !important;
  }
  @media (max-width: 767px) {
    .visible-md.visible-xs {
      display: block !important;
    }
    tr.visible-md.visible-xs {
      display: table-row !important;
    }
    th.visible-md.visible-xs,
    td.visible-md.visible-xs {
      display: table-cell !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-md.visible-sm {
      display: block !important;
    }
    tr.visible-md.visible-sm {
      display: table-row !important;
    }
    th.visible-md.visible-sm,
    td.visible-md.visible-sm {
      display: table-cell !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
      display: block !important;
    }
    tr.visible-md {
      display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
      display: table-cell !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-md.visible-lg {
      display: block !important;
    }
    tr.visible-md.visible-lg {
      display: table-row !important;
    }
    th.visible-md.visible-lg,
    td.visible-md.visible-lg {
      display: table-cell !important;
    }
  }
  .visible-lg {
    display: none !important;
  }
  tr.visible-lg {
    display: none !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: none !important;
  }
  @media (max-width: 767px) {
    .visible-lg.visible-xs {
      display: block !important;
    }
    tr.visible-lg.visible-xs {
      display: table-row !important;
    }
    th.visible-lg.visible-xs,
    td.visible-lg.visible-xs {
      display: table-cell !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .visible-lg.visible-sm {
      display: block !important;
    }
    tr.visible-lg.visible-sm {
      display: table-row !important;
    }
    th.visible-lg.visible-sm,
    td.visible-lg.visible-sm {
      display: table-cell !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .visible-lg.visible-md {
      display: block !important;
    }
    tr.visible-lg.visible-md {
      display: table-row !important;
    }
    th.visible-lg.visible-md,
    td.visible-lg.visible-md {
      display: table-cell !important;
    }
  }
  @media (min-width: 1200px) {
    .visible-lg {
      display: block !important;
    }
    tr.visible-lg {
      display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
      display: table-cell !important;
    }
  }
  .hidden-xs {
    display: block !important;
  }
  tr.hidden-xs {
    display: table-row !important;
  }
  th.hidden-xs,
  td.hidden-xs {
    display: table-cell !important;
  }
  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
    tr.hidden-xs {
      display: none !important;
    }
    th.hidden-xs,
    td.hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-xs.hidden-sm {
      display: none !important;
    }
    tr.hidden-xs.hidden-sm {
      display: none !important;
    }
    th.hidden-xs.hidden-sm,
    td.hidden-xs.hidden-sm {
      display: none !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-xs.hidden-md {
      display: none !important;
    }
    tr.hidden-xs.hidden-md {
      display: none !important;
    }
    th.hidden-xs.hidden-md,
    td.hidden-xs.hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-xs.hidden-lg {
      display: none !important;
    }
    tr.hidden-xs.hidden-lg {
      display: none !important;
    }
    th.hidden-xs.hidden-lg,
    td.hidden-xs.hidden-lg {
      display: none !important;
    }
  }
  @media (max-width: 514px) {
    .hidden-xs-inline {
      display: none;
    }
  }

  .grid-block.overlay-enabled .grid-block-byline {
      line-height: 1em;
      margin: 0 0 5px;
  }
  .grid-block.overlay-enabled .grid-block-inner {
      overflow: hidden;
  }
  .grid-block.overlay-enabled .grid-block-content {
      z-index: 1;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-xs-inline.hidden-sm {
      display: inline-block;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-xs-inline.hidden-md {
      display: inline-block;
    }
  }
  @media (min-width: 1200px) {
    .hidden-xs-inline.hidden-lg {
      display: inline-block;
    }
  }
  .hidden-sm {
    display: block !important;
  }
  tr.hidden-sm {
    display: table-row !important;
  }
  th.hidden-sm,
  td.hidden-sm {
    display: table-cell !important;
  }
  @media (max-width: 767px) {
    .hidden-sm.hidden-xs {
      display: none !important;
    }
    tr.hidden-sm.hidden-xs {
      display: none !important;
    }
    th.hidden-sm.hidden-xs,
    td.hidden-sm.hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
      display: none !important;
    }
    tr.hidden-sm {
      display: none !important;
    }
    th.hidden-sm,
    td.hidden-sm {
      display: none !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-sm.hidden-md {
      display: none !important;
    }
    tr.hidden-sm.hidden-md {
      display: none !important;
    }
    th.hidden-sm.hidden-md,
    td.hidden-sm.hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-sm.hidden-lg {
      display: none !important;
    }
    tr.hidden-sm.hidden-lg {
      display: none !important;
    }
    th.hidden-sm.hidden-lg,
    td.hidden-sm.hidden-lg {
      display: none !important;
    }
  }
  .hidden-md {
    display: block !important;
  }
  tr.hidden-md {
    display: table-row !important;
  }
  th.hidden-md,
  td.hidden-md {
    display: table-cell !important;
  }
  @media (max-width: 767px) {
    .grid-block {
      .left, .right, .alternately{
        .grid-block-picture img{
          width: 100%;
        }
      }
    }
    .hidden-md.hidden-xs {
      display: none !important;
    }
    tr.hidden-md.hidden-xs {
      display: none !important;
    }
    th.hidden-md.hidden-xs,
    td.hidden-md.hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-md.hidden-sm {
      display: none !important;
    }
    tr.hidden-md.hidden-sm {
      display: none !important;
    }
    th.hidden-md.hidden-sm,
    td.hidden-md.hidden-sm {
      display: none !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
      display: none !important;
    }
    tr.hidden-md {
      display: none !important;
    }
    th.hidden-md,
    td.hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-md.hidden-lg {
      display: none !important;
    }
    tr.hidden-md.hidden-lg {
      display: none !important;
    }
    th.hidden-md.hidden-lg,
    td.hidden-md.hidden-lg {
      display: none !important;
    }
  }
  .hidden-lg {
    display: block !important;
  }
  tr.hidden-lg {
    display: table-row !important;
  }
  th.hidden-lg,
  td.hidden-lg {
    display: table-cell !important;
  }
  @media (max-width: 767px) {
    .hidden-lg.hidden-xs {
      display: none !important;
    }
    tr.hidden-lg.hidden-xs {
      display: none !important;
    }
    th.hidden-lg.hidden-xs,
    td.hidden-lg.hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-lg.hidden-sm {
      display: none !important;
    }
    tr.hidden-lg.hidden-sm {
      display: none !important;
    }
    th.hidden-lg.hidden-sm,
    td.hidden-lg.hidden-sm {
      display: none !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-lg.hidden-md {
      display: none !important;
    }
    tr.hidden-lg.hidden-md {
      display: none !important;
    }
    th.hidden-lg.hidden-md,
    td.hidden-lg.hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-lg {
      display: none !important;
    }
    tr.hidden-lg {
      display: none !important;
    }
    th.hidden-lg,
    td.hidden-lg {
      display: none !important;
    }
  }

}

.vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.embed-container { position: relative; padding-bottom: 66.67%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
