.item-view {
    
    .inactive .item-title{
        color:#999;
    }
}
.menu-item-bar .menu-item-handle {
	box-sizing:border-box;
	max-width:100%;
}

.menu-item-handle .item-title {
	margin-right:4em;
}